<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470351622498-du17rdaqejk492p6n34b9btue5sh4aj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470351622498-du17rdaqejk492p6n34b9btue5sh4aj7</string>
	<key>API_KEY</key>
	<string>AIzaSyABSU4C1tXPci7mfQFDPDw8Nm6a0fBY0Tw</string>
	<key>GCM_SENDER_ID</key>
	<string>470351622498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anasayfa</string>
	<key>PROJECT_ID</key>
	<string>petguardian-bbc37</string>
	<key>STORAGE_BUCKET</key>
	<string>petguardian-bbc37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470351622498:ios:4cf884c47f6efdfce37c3b</string>
</dict>
</plist>